.program-date{
    z-index: 9999 !important;
    width: 100px !important;
    min-width: 500px !important;
    left: 235px !important;
}

.program-time{
    z-index: 9999 !important;
    width: 100px !important;
    min-width: 500px !important;
    left: 570px !important;
}
  